S3method(plot, bathy)
S3method(summary, bathy)
exportPattern("^[[:alpha:]]+")
importFrom("shape", "colorlegend")
importFrom("reshape2", "acast")
importFrom("DBI", "dbConnect", "dbWriteTable", "dbSendQuery", "fetch", "dbClearResult", "dbDisconnect", "dbListFields")
importFrom("RSQLite", "SQLite")
importFrom("adehabitatMA", "buffer", "adeoptions")
importFrom("sp", "SpatialPixelsDataFrame", "SpatialPointsDataFrame")
importFrom("grDevices", "as.graphicsAnnot", "col2rgb", "colorRampPalette", "contourLines", "dev.new", "rgb", "xy.coords")
importFrom("graphics", "abline", "arrows", "axis", "box", "contour", "image", "lines", "locator", "par", "plot", "polygon", "rect", "segments", "strheight", "strwidth", "text")
importFrom("stats", "na.omit", "runif")
importFrom("utils", "combn", "read.table", "setTxtProgressBar", "txtProgressBar", "write.table")
importFrom("raster", "raster", "rasterize", "extent", "resample")
importFrom("methods", "as", "is")
importFrom("ncdf4", "nc_open", "ncvar_get")