S3method(fortify, bathy)
S3method(plot, bathy)
S3method(plot, buffer)
S3method(print, buffer)
S3method(summary, bathy)
exportPattern("^[[:alpha:]]+")
importFrom("adehabitatMA", "buffer", "adeoptions")
importFrom("DBI", "dbConnect", "dbWriteTable", "dbSendQuery", "fetch", "dbClearResult", "dbDisconnect", "dbListFields")
importFrom("gdistance", "costDistance", "shortestPath", "geoCorrection", "transition")
importFrom("ggplot2", "autoplot", "fortify", "aes", "aes_string", "geom_tile", "ggplot", "scale_x_continuous", "scale_y_continuous", "geom_raster", "geom_contour", "coord_quickmap", "coord_map", "scale_fill_gradientn", "scale_colour_gradientn")
importFrom("grDevices", "as.graphicsAnnot", "col2rgb", "colorRampPalette", "contourLines", "dev.new", "rgb", "xy.coords")
importFrom("graphics", "abline", "arrows", "axis", "box", "contour", "image", "lines", "locator", "par", "plot", "polygon", "rect", "segments", "strheight", "strwidth", "symbols", "text")
importFrom("methods", "as", "is")
importFrom("ncdf4", "nc_open", "ncvar_get")
importFrom("raster", "raster", "rasterize", "extent", "resample")
importFrom("reshape2", "acast")
importFrom("RSQLite", "SQLite")
importFrom("shape", "colorlegend")
importFrom("sp", "SpatialPixelsDataFrame", "SpatialPointsDataFrame")
importFrom("stats", "na.omit", "runif")
importFrom("utils", "combn", "read.table", "setTxtProgressBar", "txtProgressBar", "write.table", "download.file")