S3method(plot, bathy)
S3method(summary, bathy)
exportPattern("^[[:alpha:]]+")
importFrom(shape,colorlegend)
importFrom(reshape2,acast)
importFrom(DBI,dbConnect,dbWriteTable,dbSendQuery,fetch,dbClearResult,dbDisconnect,dbListFields)
importFrom(RSQLite,SQLite)
importFrom(adehabitatMA,buffer,adeoptions)
importFrom(sp,SpatialPixelsDataFrame,SpatialPointsDataFrame)
